/* Omat tyylimääritykset */

.bg-custom {
    background-color: #ffffff;
    
   text-align: center;
    
}
body{
padding-left: 7%;
padding-right: 7%;
background-color: #ffffff;

}
.white-box{
    color: black;
    background-color: white;
    font-family: "Calibri";
    font-size: 18px;
}